ziptmp
firestep.log
*.zip
Adafruit_NeoPixel
ph5
vgcore.*
FireStep.wiki
foo
ArduinoJson
target
cmake_install.cmake
CMakeCache.txt
CMakeFiles/*
Makefile
core
CPackConfig.cmake
CPackSourceConfig.cmake

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
